<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Inventory App</title>
</head>
<body>
    <%- include('_header') %>
    <!--View-->
<!-- <div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title"><%= product.title %></h4>
          <div class="card-text mb-2">  <strong>Description: </strong> <%= product.description %></div>
            <div class="card-subtitle text-muted mb-2">
               <strong>Created At:</strong> <%= product.createdAt.toLocaleDateString() %>  <br>
               <strong> Quantity on Hand:</strong> <%= product.quantityonhand %> <br>
               <strong> Restock Date and Quantity: </strong><%= product.restock %>   <br>  
               <strong> Quantity Sold: </strong> <%= product.sold %> <br>
                <strong>  ACK Number: </strong><%= product.payment %> <br>
                    <strong>  Remarks: </strong><%= product.remarks %> 
            </div> -->

<!--Table View-->>
     <table id="tblData" class="table table-bordered">
        
         <tr>
             <th>Title</th>
             <th>Product Description</th>
             <th>Created At</th>
             <th>Quantity On Hand</th>
             <th>Restock Date & Quantity</th>
             <th>Quantity Sold</th>
             <th>ACK Number</th>
             <th>Remarks</th>
         </tr>
 
         <tr>
             <td><%= product.title %></td>
             <td><%= product.description %></td>
             <td> <%= product.createdAt.toLocaleDateString() %></td>
             <td> <%= product.quantityonhand %> </td>
             <td><%= product.restock %> </td>
             <td><%= product.sold %></td>
             <td><%= product.payment %></td>
             <td><%= product.remarks %> </td>
         </tr>
         </table>

         <script>
             function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>
     
<button onclick="exportTableToExcel('tblData')">Export Table Data To Excel File</button><br><br>
<a href="/" class="btn btn-secondary">All Products</a><br><br>
<a href="/product/edit/<%= product.id %>" class="btn btn-info">Edit</a>
</body>
</html>