<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Inventory App</title>
</head>
<body>
    <%- include('_pod_header') %>
  
     <table id="podtable" class="table table-bordered">
        <tbody>
         <tr>

             <th>Item with Me</th>
             <th>Task ID</th>
             <th>Contact Name</th>
             <th>Address</th>
             <th>Phone</th>
             <th>Price</th>
             <th>Successful / Unsuccessful</th>
             <th>Paid Amount</th>
             <th>Staging Remark</th>
         </tr>
 
         <tr>
             <td>  </td>
             <td><%= pod.podtaskid %></td>
             <td> <%= pod.podcontactname %></td>
             <td> <%= pod.podaddress %> </td>
             <td><%= pod.podphone %> </td>
             <td><%= pod.podprice %></td>
             <td>  </td>
             <td>  </td>
             <td><%= pod.podremarks %></td>
         </tr>
         <caption>Created By: <%= pod.podcreation %></caption>
         <caption>POD Number: <%= pod.podnumber %></caption>
         <caption>Driver: <%= pod.poddriver %></caption>
        </tbody>
         </table>



<input type="button" id="btnExport" value="Export" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
 
 
<script type="text/javascript">
    $("body").on("click", "#btnExport", function () {
        html2canvas($('#podtable')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                
                var docDefinition = {
                    pageOrientation: 'landscape',
                    content: [{
                        image: data,
                        width: 750,
                        pageSize: 'A4',
                       
                    }]
                };
                
                pdfMake.createPdf(docDefinition).download("output.pdf");
            }
        });
    });
</script>

    
<a href="/" class="btn btn-secondary">All Products</a><br><br>
<a href="/pod/edit/<%= pod.id %>" class="btn btn-info">Edit</a>
</body>
</html>